.search-box{
    -fx-background-color:#ffffff ;
    -ms-flex-align: center;
}
/*
    css for table view
*/
.table-view .column-header,
.table-view .column-header-background .filter {
    -fx-cell-size : 20;
    -fx-background-color:   #08172c;
}
.table-view .column-header .label{
    -fx-text-fill:white;
    -fx-font-weight:bold;
    -fx-align:center;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-cell{
    -fx-alignment:CENTER;
    -fx-font-family: "Cambria";
    -fx-font-size: 1.1em;
}
.table-row-cell:selected {
    -fx-background-color: #009726;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}


.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}
/* css for button 
*/
.Button{
    -fx-background-color:#1ce4dd; 
    -fx-background-radius:0em;
    -fx-border-radius:5;
}
.Button:pressed{
    -fx-background-color: #db670f;
}
.Button:hover{
    -fx-background-color: #875cd0;
}
.Button:focused{
    -fx-background-color: #1587ea;
    -fx-border-color:#b4caca;
}
.icon{
    -fx-background-color: #ffffff;
}

/*css for choicebox 
*/
.ChoiceBox{
    -fx-align-color: rgb(165, 231, 22);
    -fx-text-fill: #ffffff;
}